@model IEnumerable<Category>

@{
    Layout = "_Layout";
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
            </tr>
        }
    </tbody>
</table>